footer{
    color: black;
    background-image: linear-gradient( to bottom right, transparent  ,#2d27d6cd);

    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-bottom: 2%;
}
svg{
    width: 40%;
    max-width: fit-content;
}
.whats:hover{
    color: rgb(141, 244, 57);
}
.face:hover{
    color: rgb(73, 57, 244);
}
.insta:hover{
    color: rgb(244, 57, 182);
}
.email:hover{
    color: rgb(244, 57, 57);
}
.socials{
    margin: 0%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 4%;
    width: 4em;
    transition: color 0.8s;
}
.info{
    width: 60%;
    text-align: center;
    padding: 2%;
}
.footer-text{
    text-align: center;
}
 @media screen and (max-width: 866px){
    .footer-text{
        width: 90%;
    }
 }
 @media screen and (max-width: 525px){
    .footer-text{
        width: 80%;
    }
    .socials{
        width: 60%;
    }
 }
 @media screen and (max-width: 375px){
    .socials{
        width: 100%;
    }
    .footer-text{
        width: 100%;
    }
 }