footer{
    color: black;
    background-image: linear-gradient( to bottom right, transparent  ,#2d27d6cd);

    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-bottom: 2%;
}
svg{
    width: 40%;
    max-width: fit-content;
}
.social-link:hover{
    color: rgb(244, 57, 182);
}
.socials{
    margin: 0%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 4%;
    width: 10%;
}
.footer-text{
    width: 60%;
    text-align: center;
    padding: 2%;
}