
.container {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 6px;
    max-width: 100%;
    font-weight: 400;
    font-style: normal;
     height: 220%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #222;
      box-shadow: 0px 2px 5px 0px #6b01b6,
      0px 2px 10px 0px #9900ff;
  }
  image{
      /* background-color: #222; */
 }
    
    ul {
      width: 100%;
      max-height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    a{
      padding: 23.2px 20px;
    }
   
    li{
      align-content: center;
      padding: 5%;
    width:  max-content;
    max-height: 100%;
    height: max-content;
      margin-inline: 10px;
    }
    
   
    
    h1 {
      font-family: "Pairfair display", sans-serif;
      font-weight: 400;
      font-style: normal;
      width: 100%;
      max-width: fit-content;
      font-size: 24px;
      padding-inline: 130px;
    }
    
  
  
  .neon-effect:hover {
    color: #ff00de;
    /* box-shadow: 0px 5px 10px 0px rgba(255, 0, 221, 0.5); */
    hr{
        
        display:block;
    
    animation: line-animation  1s ease-in-out forwards;
  }
    animation: border-animation 1s ease-in-out forwards;
  }
  
  
  .neon-effect-orange:hover {
    color: #ff8c00;
    box-shadow: 0px 0px 10px 5px rgba(255, 140, 0, 0.5);
    animation: border-animation-orange 1s ease-in-out forwards;
  }
  
  .neon-effect-green:hover {
    color: #ffff00;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 0, 0.5);
    animation: border-animation-green 1s ease-in-out forwards;
  }
  
  .neon-effect-blue:hover {
    color: #00ffff;
    box-shadow: 0px 0px 0px 5px rgba(0, 255, 255, 0.5);
    animation: border-animation-blue 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  }
  hr{
    display: none;
  }


  @keyframes line-animation {
    0%{
        width: 0px;
    }
    100%{
    
        width: 100%;
    }
  }

  @keyframes border-animation-purple {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 0, 221, 0);
    }
    100% {
      box-shadow: 0px 2px 0px 0px rgba(255, 0, 221, 0.5);

    }
  }
  @keyframes border-animation-orange {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 0, 221, 0);
    }
    100% {
      box-shadow: 0px 2px 0px 0px rgba(255, 140, 0, 0.5);
    }
  }
  @keyframes border-animation-green{
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 0, 221, 0);
    }
    100% {
      box-shadow: 0px 0px 10px 5px rgba(255, 255, 0, 0.5);
    }
  }
  @keyframes border-animation-blue{
    0% {
        
      box-shadow: inset 0px 0px 0px 0px rgba(255, 0, 221, 0);
    }
    100% {
      box-shadow: inset 0px -7px 2.5px -3px  rgba(0, 255, 255, 0.5);
    }
  }
  